<hr>

# Emendatus Enigmatica Validation Results
Emendatus Enigmatica version: 1.21.1-2.2.0-alpha-3<br>
File generated at: 06-10-2026 10:05:15.893<br>
<hr>

## Strata
All files were parsed and registered successfully!<br>
## Materials
All files were parsed and registered successfully!<br>
## Compatibility
All files were parsed and registered successfully!<br>
## Deposits
All files were parsed and registered successfully!<br>
## Additional Information
### Performance
<table><tr><td>Scanning and registration of addons</td><td>0.011s</td></tr><tr><td>Loading and parsing JSON Files</td><td>0.023s</td></tr><tr><td>Validation: Strata</td><td>0.029s</td></tr><tr><td>Validation: Material</td><td>0.103s</td></tr><tr><td>Validation: Compat</td><td>0.000s</td></tr><tr><td>Validation: Deposits</td><td>0.050s</td></tr><tr><td>Data Generation</td><td>0.304s</td></tr><tr><td>Validation: Registry</td><td>0.005s</td></tr><tr><td>Generation of Analytics Summary</td><td>0.007s</td></tr></table>


> You can disable the generation of this summary and speed up the validation in the configuration file!

